mat-card {
  height: 170px;
  padding: 6px;
}

.confirm-main{
  padding: 10px;
}

.card-content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.drink-details {
  display: flex;
  justify-content: space-between;
}

mat-card-footer {
  height: 48px;
}

.syrup-details {
  align-items: center;
}
